.aboutPageContainer {
  background-color: #efeff0;
  padding-bottom: 100px;
}

.aboutPageHeader {
  color: black;
  font-size: 40px;
  text-align: center;
  font-weight: 800;
  font-family: Inter;
  padding-top: 50px;
  line-height: 40px;
  letter-spacing: 0.1%;
  vertical-align: middle;
}

.aboutPageDisclaimerItems {
  list-style-type: none;
  padding-left: 0px;
}

.aboutPageDisclaimerItems li:not(:first-child) {
  margin-top: 10px;
}

.aboutPageContainer a {
  color: #7747ff;
  text-decoration: none;
}

.aboutPageContainer a[target="_blank"] {
  background: url('../../assets/about/externalLinkIcon.svg') right center no-repeat;
  background-size: 14.5px;
  display: inline-table;
  padding-right: 20px;
}

.aboutPageSection {
  width: 1200px;
  margin: auto;
}

@media (max-width: 480px) {
  .aboutPageSection {
    width: auto;
  }
}

.aboutPageDisclaimer {
  padding: 40px 44px 0px 44px;
}

.aboutPageDisclaimerContent {
  font-size: 16px;
  font-family: Nunito Sans;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 23px;
  color: #010101;
}

.disclaimerHeader {
  color: #20506A;
  font-weight: 400;
  font-family: Inter;
  font-size: 26px;
}

.aboutPageSectionTop {
  padding: 40px 44px 40px 44px;
}

@media (min-width: 480px) {
  .aboutPageSectionContent {
    padding-right: 100px;
    float: left;
    padding-bottom: 20px;
  }
}

.aboutContentHeader {
  color: #20506A;
  font-weight: 400;
  font-family: Inter;
  font-size: 26px;
  margin: 0;
}

.aboutContentHeaderMarginTop {
  margin-top: 50px;
}

.aboutPageSectionContent p {
  font-size: 16px;
  font-family: Nunito Sans;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 23px;
  color: #010101;
}

.aboutPageSectionImage {
  float: right;
  width: 100%;
}

.keyTakeawaysSection {
  float: right;
  margin: 50px 40px 0 40px;
  padding-right: 0;
  border: solid #8891A1;
  border-radius: 15px;
}

.keyTakeawaysSectionHeader {
  margin-bottom: 10px;
  font-size: 23px;
  background-color: #6C7789;
  color: #FFFFFF;
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 9px;
  margin-top: 0;
  font-weight: 400;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.keyTakeawaysSection ul {
  font-size: 16px;
  font-family: "Nunito Sans";
  font-weight: 300;
  letter-spacing: 0;
  line-height: 22px;
  padding: 0 30px 0 40px;
  color: #010101;
}

.flowChartSection {
  width: 1200px;
}

@media (max-width: 480px) {
  .flowChartSection {
    display: none;
  }
}

.flowChartSectionMobile {
  margin-left: 16px;
  width: calc(100vw - 32px);
}

@media (min-width: 480px) {
  .flowChartSectionMobile {
    display: none;
  }
}

.flowChartContentHeader {
  font-size: 26px;
  color: #AEABAB;
  padding-left: 44px;
  padding-top: 40px;
}

.aboutContentSubHeader {
  color: #3A0558;
  font-family: Lato;
  font-size: 20px;
  padding-left: 20px;
}

.p-l-20 {
  padding-left: 20px;
  margin-top: -20px;
}

.aboutPageSectionBottom {
  padding: 40px 44px 10px 44px;
}

.link {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

.accordionButton {
  background-color: #20506A;
  color: white;
  font-size: 18px;
  font-family: Inter;
  font-weight: 500;
  width: calc(100vw - 88px);
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.accordionIcon {
  width: 16px;
  height: 16px;
}

.accordionContent {
  padding: 10px 16px;
  background-color: #f8f8f8;
}