.statsSlide {
  padding-top: 0.01px;
  animation: 2s linear slide;
}

@keyframes slide {
  0% {
    transform: translateX(120vw);
  }

  100% {
    transform: translateX(0);
  }
}

.statsFadeIn {
  animation: 3s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}