.horizontalLineStyles {
  border-top: 1px solid #592A59 !important;
}

.beVersion {
  color: white;
  margin-top: -88px;
  margin-left: 45px;
  position: absolute;
  font-size: 8px;
  background-color: #310d32;
  padding-top: 10px;
}