.horizontalLineStyles {
  border-top: 1px solid #592A59 !important;
}

.customizedFootorVersiontext {
  visibility: hidden;
}

.beVersion {
  color: white;
  margin: -102px auto 0px auto;
  max-width: 1800px;
  padding-left: 45px;
  font-size: 12px;
}

.beVersion a{
  color: white;
}